{% extends 'base.html' %}
{% block title %}About Tekkadan{% endblock %}
{% block content %}
<section class="why-arc">
  <div class="why-content">
    <h2>Why Join Tekkadan?</h2>
    <p>
      Tekkadan Labs is a community for curious minds who want to explore, create, and innovate.
      Join us to collaborate on cutting-edge projects, gain hands-on experience in AI, data science, game design,
      space research, and more, and become part of a network of passionate students and researchers shaping the future.
    </p>
  </div>
</section>


<!-- OUR TEAM SECTION -->
<section class="team">
  <h2>Our Team</h2>
  <div class="team-grid">

    <div class="team-card">
      <div class="team-photo">
        <img src="static/images/uzi.jpg" alt="Umair Zia">
      </div>
      <h3>Umair Zia</h3>
      <p>Founder</p>
      <p>Nickname Uzi, a curious
        researcher with a passion for exploring knowledge across nearly every field—truly a jack of all trades,
          master of none, but somehow better than a master of one.
          4 years+ experience in Ai & Ml
      </p>
    </div>

    <div class="team-card">
      <div class="team-photo">
        <img src="static/images/wajahat.jpg" alt="Lina Kim">
      </div>
      <h3>Wajahat Zahid</h3>
      <p>Co-Founder</p>
      <p>Wajahat, a curious researcher and Frontend Webdeveloper with a passion for exploring knowledge across nearly every field—truly a jack of all trades, master of none, but somehow better than a master of one. 4 years+ experience in Ai & Ml</p>
    </div>

  </div>
</section>
{% endblock %}
