{% extends "base.html" %}
{% block content %}

<section class="contact">
  <h2 data-reveal>Contact Us</h2>
  <p class="contact-sub" data-reveal>
    Have a question, idea, or collaboration in mind? Let’s get in touch!
  </p>

  <div class="contact-container">
    <form class="contact-form" action="/send_message" method="POST" data-reveal>
      <div class="form-group">
        <label for="name">Full Name</label>
        <input type="text" id="name" name="name" required placeholder="Your Name">
      </div>

      <div class="form-group">
        <label for="email">Email Address</label>
        <input type="email" id="email" name="email" required placeholder="your@email.com">
      </div>

      <div class="form-group">
        <label for="subject">Subject</label>
        <input type="text" id="subject" name="subject" required placeholder="Message Subject">
      </div>

      <div class="form-group">
        <label for="message">Message</label>
        <textarea id="message" name="message" rows="6" required placeholder="Write your message here..."></textarea>
      </div>

      <button type="submit" class="contact-btn">Send Message</button>
    </form>

    <div class="contact-info" data-reveal>
      <h3>Tekkadan Headquarters</h3>
      <p><br>
      Rawalpindi, Pakistan</p>

      <h3>Connect with Us</h3>
      <div class="social-links">
        <a href="https://instagram.com/yuozhe" target="_blank">
          <img src="static/images/ig.jpg" alt="Instagram">
        </a>
        <a href="https://www.kaggle.com/stealthtechnologies" target="_blank">
          <img src="static/images/ln.png" alt="LinkedIn">
        </a>
      </div>
    </div>
  </div>
</section>

{% endblock %}
