{% extends "base.html" %}

{% block content %}
<head>
  <meta charset="UTF-8">
  <title>Tekkadan Login</title>
</head>
<body>

<div class="arc-auth">
  <div class="container">

  <h1>Login</h1>
      <!-- Login Form -->
      <form class="signup-form">
          <input type="text" class="input" placeholder="Username" required>
          <input type="password" class="input" placeholder="Password" required>
          <input type="submit" class="btn" value="Login">
      </form>
    <p class="bottom-link">
      Don’t have an account? <a href="{{ url_for('signup') }}">Create one</a>
    </p>

</div>
</div>

</body>
{% endblock %}